* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
 
}
@font-face {
  font-family: 'TrajanPro Bold';
  src: url('../fonts/TrajanPro-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'TrajanPro Regular';
  src: url('../fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: normal;
}
body {
  --main-color: #00377b;
  --primry-color: #E5B250;
  --secondary-color: #F1F2F2;
  --primary-button-background: #E5B250;
  --background-color: #000000;
  --white-lily-color:#5D042D;
}

h1,
h2 {
  
  color: var(--main-color);
}

h4,
h3 {
  
  color: var(--main-color);
}

h3 {
  font-weight: 750;
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;
  letter-spacing: 0px;
}
h5{
  color: var(--background-color);
}

p {
  font-size: 1.923rem;
  line-height: 150%;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0px;

}


a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff;
}
a:hover {
  text-decoration: none
}
li {
  list-style: none;
}

button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  line-height: 3.6rem;
  text-transform: capitalize;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  border-radius: .5rem;
}

section {
  padding: 60px 0;
  overflow: hidden;
  /* scroll-margin-top: 80px */
}

/*************Owl Carousel dots****************/
.owl-carousel{
  position: relative;
}

.owl-dots{
  position: absolute;
  bottom:1%;
  left:25%;
  right:25%;
}

#header .owl-dots{
  position: absolute;
  bottom:11%;
  left:25%;
  right:25%;
}

#header .owl-theme .owl-dots .owl-dot span{
 background: #ffffff;
}

/*************Owl Carousel nav****************/

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -5rem;
   background: none;
  
}
.owl-carousel .owl-nav button.owl-prev:hover {
   background: none; 
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -5rem;
   background: none;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background: none; 
}

.owl-carousel .owl-nav button.owl-prev i,
.owl-carousel .owl-nav button.owl-next i {
  font-size: 3rem; /* Adjust the desired size */
  color: var(--main-color); /* Adjust the desired color */
}


.card {
  /* box-shadow: 0 5px 8px rgba(0,0,0,0.3); */
  border: none;
}
/* .owl-carousel .item {
  height: 60rem; 
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* navigation bar start  */






 .navbar {
  height: 12.4rem;
  background: #ffffff;
  
}
.desktopMenu .navbarDropdown{
  height: 12.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktopMenu .nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .websiteLogo{
  height: 8.654rem;
  width: 18.558rem;
}
.desktopMenu .navbar-nav .nav-link {
 
  font-size: 1.924rem;
  line-height: 2.308rem;
  font-weight: 700;
  color: var(--background-color);
  letter-spacing: 0px;
  margin-right: 2rem; 
  margin-left: 2rem;  
  text-transform: uppercase;
}

.desktopMenu .phoneIcon{
  height: 2.885rem;
  width: 2.885rem;
  margin-right: 1.2rem;
}
.desktopMenu .searchIcon{
  height: 3.365rem;
  width: 3.365rem;
  margin-right: 0;

  
}
.desktopMenu .hamburderIcon{
  width: 3.077rem;
  height: 2.404rem;
  margin-right: 0;

  
}
.desktopMenu .fristtree{
  background-color: var(--background-color);
  
}
.desktopMenu .secondtree{
  background: #E6E7E8
}

.desktopMenu .fristtree .dropdown-item{
  color: #ffffff;
  font-weight: 700;
  font-size: 1.923rem;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
}
.desktopMenu .secondtree .dropdown-item{
  color: var(--background-color);
}
.desktopMenu .fristtree .dropdown-item:hover{
  color: var(--primary-button-background);
  background: transparent;
}

.desktopMenu .nav-link:hover{
  color: var(--primary-button-background);
  background: transparent;
}


.desktopMenu .fristtree li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.615rem;
  height: 7.212rem;  
}

.desktopMenu .fristtree li:not(:first-child) {
  border-left: 0.1px solid white;
}

.desktopMenu .secondtree li:not(:last-child) {
  border-bottom: 0.1px solid black;
}
.desktopMenu .navbar .navbar-nav .nav-link:hover{
  color: var(--primary-button-background);
}

.desktopMenu .secondtreesecondary:before {
  content: '';
  position: absolute;
  top: -20%;
  border-bottom: 1rem solid var(--background-color);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
.desktopMenu .secondarrow:before {
  content: '';
  position: absolute;
  top: -10%;
  left: 38%;
  border-bottom: 1rem solid var(--background-color);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
.desktopMenu .threearrow:before {
  content: '';
  position: absolute;
  top: -10%;
  left: 50%;
  border-bottom: 1rem solid var(--background-color);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
.desktopMenu .fourarrow:before {
  content: '';
  position: absolute;
  top: -10%;
  left: 65%;
  border-bottom: 1rem solid var(--background-color);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}

  @media only screen and (min-width: 960px) {
  .firstMenu:hover .fristtree {
    display: block;
    margin-top: 0;
  }
  
  .firstMenu:hover .fristtree {
    display: flex; 
    justify-content: center;
    align-items: center;

  }
  .navbar-expand-lg .navbar-nav .fristtree{
    position: fixed;
    top: 0%;
    margin-top: 12.4rem;
    left: 50%;
    transform: translateX(-50%);
  }
 
  .firstMenu .fristtree {
    display: none;
  }
  .dropdown-toggle::after {
    display: none;
  }
  
}

/* mobile menu */
.mobileMenu .collapse {
  padding: 2rem;
  
}
.mobileMenu .navbar-nav .nav-link {
 
  font-size: 1.924rem;
  line-height: 2.308rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0px;
  margin: 2rem;  
  text-transform: uppercase;
}
#navbarDropdownresidentials{
  color: #000000;
  padding: 1.8px 7.2px;


}
.mobileMenu .dropdown-menu .dropdown-item {
 
  font-size: 1.924rem;
  line-height: 2.308rem;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0px;
  margin: 2rem;  
  text-transform: uppercase;
}
.mobileMenu .dropdown-menu{
  background: #f1f2f2;
  border-radius: 0;
}

/* navigation bar end  */



#section2 .owl-carousel .item .card {
  height: 100%;
  width: 100%;
}

.owl-carousel .item .card-img-top {
  height: 30rem;
  object-fit: cover;
}

.two .owl-item, .two .item{
  width: 21.346rem!important;
  height: 28.75rem;
 

}
.two .owl-item{
  margin-right: 1.24rem;
}





/*************Home Page****************/

.section-heading{
  text-align: center;
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 3.8rem;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 120%;
}
.section-heading2{
  text-align: center;
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 3.8rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 120%;
}
.second-heading{
  text-align: center;
  color: var(--primry-color);
  font-size: 5rem;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 120%;
}

.button1{
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  width:18.58rem;
  height:5.7rem;
}
.button2{
  background-color: var(--primary-button-background);
  color: #000000;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  width:18.58rem;
  height:5.7rem;
}

/*header*/

/* .header{
  height: 100vh;
} */

#moodvideo {
  width: 100%;
  object-fit: cover
}




/************************section2 *******************/

#section2{
  background: url(../images/parkreality.jpg);
}
#section2 .owl-carousel .item {
  /* margin-right: 1rem;
  height: 27.6rem;  */
  /* width: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-button-background);
  
}
#section2 .card:hover{
  background: var(--main-color);

}
#section2 .card:hover p{
  color: #FFFFFF;
}
#section2 .over{
  font-size: 1.9rem;
  color: var(--background-color);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
}

#section2 .card{
  border-radius: 0px;
  border: none;
}
#section2 .over-heading{
  font-size: 6.319rem;
  letter-spacing: -4px;
  font-weight: 700;
  line-height: 120%;
  color: var(--main-color);
}
#section2 .section7p{
  font-weight: normal;
  line-height: 1.2;
  font-weight: 600;
}
#section2 .imgdiv{
  
  float: right;
  clear: both;
}
.two .card-body{
  padding: .7rem!important;
}


.imgdiv {
  position: absolute; /* Position the image absolutely within the card content */
  bottom: 0; /* Place the image at the bottom of the card content */
  left: 80%; /* Center the image horizontally within the card content */
  transform: translateX(-50%); /* Adjust the positioning for centering */
  margin-bottom: 1.2rem; /* Add the desired gap between the image and the bottom of the card */
}
.borderimg{
  display: block;
  margin: 0 auto;
}
#section3{
  padding-top: 9rem;
  padding-bottom: 2rem;
}

#slider4 .owl-carousel .item{
  height: auto;
}

#section5 h5{
  color: var(--background-color);
  font-weight: 600;
  font-size: 1.635rem;
}
#section5 strong{
  color: var(--background-color);
  font-weight: 600;
  font-size: 1.635rem;
}
#section5 p{
  margin-top: 1rem;
  color: var(--background-color);
  font-weight: 400;
  font-size: 1.635rem;
}


.highlight{
  color: var(--background-color);
  font-size: 1.436rem;
  font-weight: bold;
  padding: .5rem 1.4rem;
  border-radius: 5px;
  border: 2px solid var(--primary-button-background);
}
#section5 .owl-carousel .item .card-img-top{
    height: 32.981rem !important;
    object-fit: cover;
}

.residentialInner{
  width: 43.077rem;
  height: 68.846rem;
  background: #ffffff;
  box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.35);
  transition: all 0.5s linear;


}
  /* Add styles for hover effect */
  .residentialInner:hover {

    box-shadow: 6px 0 14px 0 rgba(0, 0, 0, 0.5);
  
    transform: translateY(-6px);
  }
.residentialInnerimg{
  width: 43.077rem;
  
}




#section6{
  background: url(../images/the_talk.jpg);
  background-size: cover;
  background-position: center center;
}


#section9{
  background: url(../images/contact.jpg);
  background-size: cover;
  background-position: center center;
}

#section7  {
  background-color: var(--secondary-color);
  height: 77.5rem;
}
#section7 .tesimonial{
  width: 44.712rem;  

}
#section7 .tesimonialCardImg{
  height: 29.712rem;
  width: 44.712rem;  
}
#section7 .owl-carousel .item {
  height: 45rem; /* Adjust the desired height for the item divs */
  display: flex;
  justify-content: center;
  align-items: center;
}

.third .owl-item{
  width: 44.712rem !important;  

}
.third .owl-item {
  margin: 0px 0.673rem;
}
.section7p{
  font-size: 1.5rem;
  font-weight: 600;

}





/************************section8 *******************/

.bg-img{
  background: url(../images/background.jpg);
}



.third .item .card-img-top {
  /* height: 29.595rem; */
  object-fit: cover;
  /* width: 44.712rem; */
}

.four .owl-item {
  width: 43.077rem!important;
  height: 64.904rem;
  margin: auto 1.538rem;
  margin-bottom: 1rem
}
.newsdiv{
  background: #ffffff;
  width: 43.077rem!important;
  height: 64.904rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.35);

}
.newunder{
  width: 38.365rem;
}

.formdiv{
  height: 60.192rem;
  width: 43.077rem;
}

.formdiv label{
  font-size: 1.93rem;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0px;
  margin-bottom: 1rem;
  font-weight: 400;
}
.readmore{
  margin-top: 4rem;
  width: 18.654rem;
  height: 5.962rem;
  background: transparent;
  border: 2px solid var(--primary-button-background);
}


.formdiv input::placeholder {
  font-size: 1.93rem;
  line-height: 150%;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0px;
  font-weight: 400;
}
.form-control-lg{
  padding: 1rem;
}
.contactdetails h4{
  color: #ffffff;
  line-height: 2.885rem;
  font-size: 2.885rem;
  font-weight: 400;
}
.contactdetails p{
  color: #ffffff;
  line-height: 120%;
  font-size: 2.308rem;
  font-weight: normal;
}

.socialmediaicons{
  display: flex;
  margin-top: 5rem;
  padding-left: 0;

}
.socialmediaicons  img{
  height: 4.3rem;
  width: 4.3rem;
  margin-right: 1rem;
}

.videoPanel{
  padding: 0px 6.731rem;
}
.videosection{
  background: #ffffff;
  /* width: 122.115rem; */
  height: 67.404rem;
  box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.35);
  padding: 1rem;

}
.videosection video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.footer {
    
    font-size: 1.5rem;
    padding: 40px 0;
    color: #fff;
    background: var(--main-color);
    border-top: 2px solid var(--primary-button-background); 
}

.footer .footer-links  h4{
  font-size: 2.32rem;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 120%;
  font-weight: 500;
  position: relative;
  padding-bottom: 12px;
  
  
}

.footer .footer-links  ul li a{
  font-size: 2.32rem;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 120%;
  font-weight: 400;

  
}


.footer .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul{
  padding: 0%;
}
.postfooter{
  background: var(--background-color);
}
.postfooter p{
  font-size: 2.32rem;
  line-height: 120%;
  font-weight: 400;
  padding: 30px 0;
  color: #fff;
}



#imagecarousel{
  background: var(--secondary-color);
}

.banner_banks .owl-item{
  background: #FFF;
  border: 1px solid var(--primry-color);
  border-radius: 1px;
  width: 26.537rem!important;
  height: 12.261rem;
  margin: auto 0.962rem;
}
.banner_banks .owl-stage{
  display: flex;
  justify-content: center;
}
.banner_banks .item{
  padding: 2.5rem 4rem;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100%;
  height: 100%;
}
.item1 img{
  width: 15.288rem!important;
  height: 5.288rem;
}
.item2 img{
  width: 21.714rem!important;
  height: 5.143rem;
}
.item3 img{
  width: 22.019rem!important;
  height: 4.615rem;
}
.item4 img{
  width: 23.269rem!important;
  height: 3.846rem;
}
.item5 img{
  width: 21.058rem!important;
  height: 7.5rem;
}

.enquirynowbtn{
  position: fixed;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4.808rem;
  height: 16.923rem;
}


/************************************************* Home Page End********************************************/


/************************************************ White Lily Page Start *************************************/



.scrolldown p{
  font-weight: 700;
}
.rectangleDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0px;
  
}

.rectangleDiv li{
  height: 7.212rem;
  width: 18.75rem;
  padding: 4rem 1rem;
}
.rectangleDiv li:not(:last-child) {
  border-left: 0.1px solid var(--primary-button-background);
}

.li7{
  width: 25.962rem !important;
  border-left: 0.1px solid var(--primary-button-background);

} 

.rectangle{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-lily-color);
  color: #fff;
}
.rectangle a{
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9231rem;
}
.active-link {
  background-color: var(--primary-button-background);
}
#overviewSection{
  margin-top: 8rem;
}
#overviewSection h2{
  font-family: 'TrajanPro Bold', sans-serif;
  text-align: left;
  color: var(--primary-button-background);
  font-size: 3.812rem;
  text-transform: uppercase;
 
}
#overviewSection p{
  text-align: left;
  font-size: 1.9231rem;
  line-height: 3.375rem;
  font-weight: 400;
  margin-top: 2rem;
}
#overviewSection .col{
  padding: 0;
}


#amenitiesSection{
  background: url(../images/whitelily/amenities.png);
  height: 123.077rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.aminitesslider{
  background: url(../images/whitelily/animitiebackground.png);
}
.aimidivcarousel{
  padding: .5rem;
  background: #ffffff;
}

.unitslayout .item img {
  width: 86.7%;
  height: auto;
  margin: auto;
}
.hide-section {
  display: none !important;
}

#locationSection{
  background: url(../images/whitelily/locationbackground.png);
  background-position: center center;
  background-repeat: no-repeat;
}
#locationSection .col{
  padding: 0;
}
#locationSection .col p{
  color: #ffffff;
  font-size: 1.632rem;
  line-height: 2.88rem;
  font-weight: 500;
}

#locationSection .secrow{
  background: #fffbde;
  border: 2px solid var(--primry-color);
  padding: 1rem;
}
#locationSection img{
  height: 12.019rem;
  width: 13.942rem;
}
.col .secrow p{
  text-align: center;
  font-size: 1.406rem !important;
  line-height:  1.731rem !important;
  font-weight: 700 !important;
  font-style: italic !important;
  color: #000000 !important;
}
#locationSection iframe{
  height: 59.615rem;
  width: 69.231rem;
}

#uppergallerySection{
  background: url(../images/whitelily/uppergallerybackground.png);
}
.righcol {
  justify-content: center;
}
.righcol .col-5{
  background: var(--white-lily-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   padding: 4rem 2rem;
   margin: 1rem;
}
#uppergallerySection .col-5 p{
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
}
#uppergallerySection .second-heading{
  color: var(--white-lily-color);
}
#uppergallerySection iframe{
  width: 63.462rem;
  height: 46.154rem;
}
.youtubediv{
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0px
}

#gallerySection .aimidivcarousel {
  box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.35);
 
}

#specificationsSection{
  background: url(../images/whitelily/specificationbackgroun.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.specificationul{
  padding: 0rem;
}
.specificationul div{
  border-left: 2px solid var(--primry-color);
  padding: 1rem;


}
.specificationul .head{
  color: var(--primary-button-background);
  font-size: 2.404rem;
  text-align: left;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 0px;
}
.specificationul .desc{
  font-size: 1.923rem;
  font-weight: 500;
  line-height: 2.885rem;
  color: #ffffff;
  margin-bottom: 0px;
}
.specificationul .subdesc{
  font-size: 1.923rem;
  font-weight: 400;
  line-height: 2.885rem;
  color: #ffffff;
  margin-bottom: 0px;
}

.specificationbtn{
  background: var(--primry-color);
  color: var(--white-lily-color);
  border-radius: 0px;
  font-size: 2.404rem;
  font-weight: 900;
  line-height: 2.885rem;
  padding: 2rem 3rem;
  width: 100%;
  
}
.specificationbtn:hover{
  background: var(--primry-color);
  color: var(--white-lily-color);
}

#limitedUnitSection{
  background: url(../images/whitelily/uppergallerybackground.png);
}
#limitedUnitSection .second-heading{
  color: var(--white-lily-color);
}
.downloadbrochurediv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.section-headingsection{
  text-align: center !important;
  color: var(--main-color) !important;
  text-transform: capitalize !important;
  font-size: 3.8rem !important;
  font-weight: 300 !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
/************************************************ White Lily Page End ***************************************/




/*************************************responsive website layout start  ***************************************/



 /* Small screens, such as smartphones / */
@media (max-width: 767px) {

  html {
    font-size: 45%;
  }
  .owl-carousel .owl-dots {
    display: none;
  }
  .card{
    width: 100%;
    border: none;
  }
  #section8 .owl-carousel .item .card-img-top {
    height: 45rem;
    object-fit: cover;
  }
  
  .owl-carousel .owl-nav button.owl-prev {
  display: none;
  }
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
  #section2 .owl-carousel .item{
    width: 100%;
    height: 100%;
  }
  
  .two .owl-item{
    margin: auto 16px!important;
  }

  /* .four .owl-item {
    margin: 0px 3.1rem;
  } */
  .desktopMenu {
    display: none;
  }
  #slide-navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 80%;
    height: 100%;
    background-color: var(--background-color);
    overflow: auto;
  }
  .menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
  }
  .videoPanel img{
    width: 99%;
  }
  .residentialInner{
    margin-top: 2rem;
  }
  .third .owl-item {
    margin: 0px 4rem;
  }
  .four .owl-item {

    margin: auto 5rem;
    margin-bottom: 1rem;
  }
  .formdiv{
    margin-top: 2rem !important;
    margin: 0 auto;
  }
  .contactdetails  {
    padding: 2rem;
  }
  .socialmediaicons{
    padding: 2rem;

  }
  #footer{
    padding: 2rem;
  }
  .postfooter{
    padding: 2rem !important;
  }

  .rectangleDiv li{
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    padding: 1rem 0px;
    margin: 0;
  }
  .rectangle a{
    font-size: 1rem !important;
  }
  .li7{
    width: 100% !important;
    height: auto !important;
    padding: 1rem 0px !important;
    border-left: 0.1px solid var(--primary-button-background);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
  }
  #overviewSection{
    margin-top: 2rem;
  }
  .scrolldowndiv{
    padding-bottom: 0px;
  }
  .limite{
    display: none;
  }
  
  #amenitiesSection{
    height: 37.077rem;
  }
  .downloadbrochurediv img{
    width: 60%;
  }
  .masterplansection img{
    width: 85%;
  }
}

 /* Tablets in portrait mode / */
@media (min-width: 768px) and (max-width: 1023px) {
  
  html {
    font-size: 50%;
  }
  .desktopMenu{
    display: none;
  }
  #slide-navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 80%;
    height: 100%;
    background-color: var(--background-color);
    overflow: auto;
  }
  .menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
  }

  .third .owl-item{
    margin: 0px 2.308rem;
  }
  .four .owl-item {
    margin: auto 3.269rem;
    margin-bottom: 1rem;
  }
  .downloadbrochurediv img{
    width: 60%;
  }
}
/* / Tablets in landscape mode and small desktops / */
@media (min-width: 1024px) and (max-width: 1399px) {
  html {
    font-size: 50%;
  }
  .mobileMenu{
    display: none;
  }
  .videoPanel img{
    width: 99%;
  }
  .two .owl-item{
    margin: auto 0.673rem  !important ;
  }
  #amenitiesSection{
    height: 906px;
  }
  .masterplansection  img{
    width: 72%;
  }
  .downloadbrochurediv img{
    width: 15%;
  }
}
/* / Standard desktops and laptops / */
@media (min-width: 1400px) and (max-width: 1919px) {
  
html {
  font-size: 55%;
  scroll-behavior: smooth;
}

  /* #section2 .over-heading{
    font-size: 4.5rem;
    letter-spacing: 0px;
    font-weight: 700;
    line-height: 120%;
  } */

  .two .owl-item{
    margin-right: 27.8px!important;
  }
  .third .owl-item{
    margin: 0px 1.923rem;
  }
  .four .owl-item {
    margin: auto 2.692rem;
    margin-bottom: 1rem;
  }
  .mobileMenu{
    display: none;
  }
  .videoPanel img{
    width: 99%;
  }
  #header .owl-carousel .owl-item img {
    
    height: 88vh;
  }
  #amenitiesSection{
    height: 1014px;
  }
  .masterplansection  img{
    width: 74.5%;
  }
  .downloadbrochurediv img{
    width: 15%;
  }
}
/* / Large screens and high-resolution displays / */
@media (min-width: 1920px) {
    .container {
      max-width: 1440px; 
      padding: 0;
    }
    .row {
      max-width: 1440px; 
      padding: 0;
      margin: 0;
    }
    #section2 .owl-carousel .item {
    /* height: 28.6rem;  */
    width: 21rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primry-color);
    /* margin-right: 1rem; */
  }
  .mobileMenu{
    display: none;
  }
  .third{
    width: 138.462rem;
    display: flex;
    justify-content: center;
  }
  .four{
    width: 138.462rem;
    display: flex;
    justify-content: center;
  }
  .banner_banks {
    width: 138.462rem;
    display: flex;
    justify-content: center;
  }
  .videoPanel .row{
    width: 102%;
  }
}
