* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
 
}

body {
  --main-color: #00377b;
  --primry-color: #E5B250;
  --secondary-color: #F1F2F2;
  --primary-button-background: #E5B250;
  --background-color: #000000;
}

h1,
h2 {
  
  color: var(--main-color);
}

h4,
h3 {
  
  color: var(--main-color);
}

h3 {
  font-weight: 750;
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;
  letter-spacing: 0px;
}
h5{
  color: var(--background-color);
}

p {
  font-size: 1.923rem;
  line-height: 150%;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0px;

}


a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff;
}
a:hover {
  text-decoration: none
}
li {
  list-style: none;
}

button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  line-height: 3.6rem;
  text-transform: capitalize;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  border-radius: .5rem;
}

section {
  padding: 60px 0;
  overflow: hidden;
  /* scroll-margin-top: 80px */
}

/*************Owl Carousel dots****************/
.owl-carousel{
  position: relative;
}

.owl-dots{
  position: absolute;
  bottom:1%;
  left:25%;
  right:25%;
}

/*************Owl Carousel nav****************/

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -5rem;
   background: none;
  
}
.owl-carousel .owl-nav button.owl-prev:hover {
   background: none; 
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -5rem;
   background: none;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background: none; 
}

.owl-carousel .owl-nav button.owl-prev i,
.owl-carousel .owl-nav button.owl-next i {
  font-size: 3rem; /* Adjust the desired size */
  color: var(--main-color); /* Adjust the desired color */
}


.card {
  /* box-shadow: 0 5px 8px rgba(0,0,0,0.3); */
  border: none;
}
/* .owl-carousel .item {
  height: 60rem; 
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* navigation bar start  */



/* .dropdown > #navbarDropdownMenuLink:hover > .submenu{ display: block; } */


.navbar {
  height: 12.4rem;
  background: #ffffff;
}
.websiteLogo{
  height: 8.654rem;
  width: 18.558rem;
}
.navbar-nav .nav-link {
 
  font-size: 1.924rem;
  line-height: 2.308rem;
  font-weight: 700;
  color: var(--background-color);
  letter-spacing: 0px;
  margin-right: 2rem; 
  margin-left: 2rem;  
  text-transform: uppercase;
}

.phoneIcon{
  height: 2.885rem;
  width: 2.885rem;
  margin-right: 1.2rem;
}
.searchIcon{
  height: 3.365rem;
  width: 3.365rem;
  margin-right: 0;

  
}
.hamburderIcon{
  width: 3.077rem;
  height: 2.404rem;
  margin-right: 0;

  
}
.fristtree{
  background-color: var(--background-color);
  
}
.fristtree .dropdown-item{
  color: #ffffff;
  font-weight: 700;
  font-size: 1.923rem;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
}
.fristtree .dropdown-item:hover{
  color: var(--primary-button-background);
  background: transparent;
}
.dropdown-menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.615rem;
  height: 7.212rem;
  
}
.navbar .navbar-nav .nav-link:hover{
  color: var(--primary-button-background);
}
  @media only screen and (min-width: 960px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  
  .dropdown:hover .fristtree {
    display: flex; 
    justify-content: center;
    align-items: center;

  }
 
  
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown-toggle::after {
    display: none;
  }
}



/* .navbar ul li{

} */

/* navigation bar end  */



#section2 .owl-carousel .item .card {
  height: 100%;
  width: 100%;
}

.owl-carousel .item .card-img-top {
  height: 30rem;
  object-fit: cover;
}

.two .owl-item, .two .item{
  width: 21.346rem!important;
  height: 28.75rem;
}




/*************Home Page****************/

.section-heading{
  text-align: center;
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 3.8rem;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 120%;
}
.section-heading2{
  text-align: center;
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 3.8rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 120%;
}
.second-heading{
  text-align: center;
  color: var(--primry-color);
  font-size: 5rem;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 120%;
}

.button1{
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  width:18.58rem;
  height:5.7rem;
}
.button2{
  background-color: var(--primary-button-background);
  color: #000000;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  width:18.58rem;
  height:5.7rem;
}

/*header*/

/* .header{
  height: 100vh;
} */

#moodvideo {
  width: 100%;
  object-fit: cover
}




/************************section2 *******************/

#section2{
  background: url(../images/parkreality.jpg);
}
#section2 .owl-carousel .item {
  margin-right: 1rem;
  height: 27.6rem; 
  /* width: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  
}
#section2 .card:hover{
  background: var(--main-color);

}
#section2 .card:hover p{
  color: #FFFFFF;
}
#section2 .over{
  font-size: 1.9rem;
  color: var(--background-color);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
}

#section2 .card{
  border-radius: 0px;
  border: none;
}
#section2 .over-heading{
  font-size: 6.319rem;
  letter-spacing: -4px;
  font-weight: 700;
  line-height: 120%;
  color: var(--main-color);
}
#section2 .section7p{
  font-weight: normal;
  line-height: 1.2;
  font-weight: 600;
}
#section2 .imgdiv{
  
  float: right;
  clear: both;
}
.two .card-body{
  padding: .7rem!important;
}


.imgdiv {
  position: absolute; /* Position the image absolutely within the card content */
  bottom: 0; /* Place the image at the bottom of the card content */
  left: 80%; /* Center the image horizontally within the card content */
  transform: translateX(-50%); /* Adjust the positioning for centering */
  margin-bottom: 1.2rem; /* Add the desired gap between the image and the bottom of the card */
}
.borderimg{
  display: block;
  margin: 0 auto;
}
#section3{
  padding-top: 9rem;
  padding-bottom: 2rem;
}

#slider4 .owl-carousel .item{
  height: auto;
}

#section5 .card-body h5{
  color: var(--background-color);
  font-weight: 500;
  font-size: 1.635rem;
}
#section5 .card-body strong{
  color: var(--background-color);
  font-weight: 500;
  font-size: 1.635rem;
}
#section5 .card-body p{
  margin-top: 1rem;
  color: var(--background-color);
  font-weight: 400;
  font-size: 1.635rem;
}

#section5 .card-body .carddescription p{

  color: var(--background-color);
  font-weight: normal;
  font-size: 1.5rem;
}
.highlight{
  color: var(--background-color);
  font-size: 1.436rem;
  font-weight: bold;
  padding: .5rem 1.4rem;
  border-radius: 5px;
  border: 2px solid var(--primary-button-background);
}
#section5 .owl-carousel .item .card-img-top{
    height: 32.981rem !important;
    object-fit: cover;
}

#section6{
  background: url(../images/the_talk.jpg);
  background-size: cover;
  background-position: center center;
}


#section9{
  background: url(../images/contact.jpg);
  background-size: cover;
  background-position: center center;
}



#section7 .owl-carousel .item {
  height: 45rem; /* Adjust the desired height for the item divs */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section7p{
  font-size: 1.5rem;
  font-weight: 600;

}

#section8{
  background: var(--secondary-color);
}
#section8 .owl-carousel .item .card-img-top {
  height: 32.981rem !important;
  object-fit: cover;
}

.second .owl-item{
  width: 43.07rem!important;
  height: 64.712rem!important;
  margin: 0 3.69rem;
  margin-bottom: 5px;
  box-shadow: 0 0px 1rem rgba(0,0,0,0.3);

}


/************************section3 *******************/

.bg-img{
  background: url(../images/background.jpg);
}

.third .item .card-img-top {
  height: 29.595rem;
  object-fit: cover;
  width: 44.712rem;
}

.four .owl-item {
  width: 43.07rem!important;
  margin: 0 3.69rem;
}

.formdiv label{
  font-size: 1.93rem;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0px;
  margin-bottom: 1rem;
  font-weight: 400;
}
.formdiv input::placeholder {
  font-size: 1.93rem;
  line-height: 150%;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0px;
  font-weight: 400;
}
.form-control-lg{
  padding: 1rem;
}
.contactdetails h4{
  color: #ffffff;
  line-height: 2.885rem;
  font-size: 2.885rem;
  font-weight: 400;
}
.contactdetails p{
  color: #ffffff;
  line-height: 120%;
  font-size: 2.308rem;
  font-weight: normal;
}

.socialmediaicons{
  display: flex;
  margin-top: 5rem;
  padding-left: 0;

}
.socialmediaicons  img{
  height: 4.3rem;
  width: 4.3rem;
  margin-right: 1rem;
}




.footer {
    
    font-size: 1.5rem;
    padding: 40px 0;
    color: #fff;
    background: var(--main-color);
    border-top: 2px solid var(--primary-button-background); 
}

.footer .footer-links  h4{
  font-size: 2.32rem;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 120%;
  font-weight: 500;
  position: relative;
  padding-bottom: 12px;
  
  
}

.footer .footer-links  ul li a{
  font-size: 2.32rem;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 120%;
  font-weight: 400;

  
}


.footer .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul{
  padding: 0%;
}
.postfooter{
  background: var(--background-color);
}
.postfooter p{
  font-size: 2.32rem;
  line-height: 120%;
  font-weight: 400;
  padding: 30px 0;
  color: #fff;
}



#imagecarousel{
  background: var(--secondary-color);
}
.banner_banks .owl-item{
  background: #FFF;
  border: 1px solid var(--primry-color);
  border-radius: 1px;
  width: 26.537rem!important;
  height: 12.261rem;
}
.banner_banks .owl-stage{
  display: flex;
  justify-content: center;
}
.banner_banks .item{
  padding: 2.5rem 4rem;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100%;
  height: 100%;
}
.item1 img{
  width: 15.288rem!important;
  height: 5.288rem;
}
.item2 img{
  width: 21.714rem!important;
  height: 5.143rem;
}
.item3 img{
  width: 22.019rem!important;
  height: 4.615rem;
}
.item4 img{
  width: 23.269rem!important;
  height: 3.846rem;
}
.item5 img{
  width: 21.058rem!important;
  height: 7.5rem;
}









/* ----------------------------responsive website layout start  ---------------------------*/



 /* Small screens, such as smartphones / */
@media (max-width: 767px) {

  html {
    font-size: 45%;
  }
  .owl-carousel .owl-dots {
    display: none;
  }
  .card{
    width: 100%;
    border: none;
  }
  #section8 .owl-carousel .item .card-img-top {
    height: 45rem;
    object-fit: cover;
  }
  
  .owl-carousel .owl-nav button.owl-prev {
  display: none;
  }
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
  #section2 .owl-carousel .item{
    width: 100%;
    height: 100%;
  }
  
  .two .owl-item{
    margin-right: 30px!important;
  }
  .second .owl-item {
    margin: 0px 3.1rem;
  }
  .four .owl-item {
    margin: 0px 3.1rem;
  }
}

 /* Tablets in portrait mode / */
@media (min-width: 768px) and (max-width: 1023px) {
  
  html {
    font-size: 50%;
  }

}
/* / Tablets in landscape mode and small desktops / */
@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 50%;
  }

}
/* / Standard desktops and laptops / */
@media (min-width: 1280px) and (max-width: 1919px) {
  
html {
  font-size: 55%;
  scroll-behavior: smooth;
}

  /* #section2 .over-heading{
    font-size: 4.5rem;
    letter-spacing: 0px;
    font-weight: 700;
    line-height: 120%;
  } */

  .two .owl-item{
    margin-right: 33px!important;
  }
  .second .owl-item {
    margin: 0px 3.1rem;
  }
  .four .owl-item {
    margin: 0px 3.1rem;
  }


}
/* / Large screens and high-resolution displays / */
@media (min-width: 1920px) {
    .container {
      max-width: 1595px; /* Adjust the desired width based on your design needs */
    }
    #section2 .owl-carousel .item {
    height: 28.6rem; 
    width: 21rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primry-color);
    /* margin-right: 1rem; */
  }
}
